# Write a SQL statement to create a table named countries including columns country_id, country_name and region_id and make sure that no countries except Italy, India and China will be entered in the table.

In [ ]:
# Creating DataBase
create database Countries;

show databases;
use  Countries;
show tables;

#Creating Tables
create table countries(Country_ID int primary key,Country_Name varchar(25),Region_ID char(25));

# Inserting Values
insert into countries values(1,"Italy","ITA");
insert into countries values(2,"India","IND");
insert into countries values(3,"China","CHN");

#To view the table
select * from countries;